<h1>Edit Team</h1>

<%= form_for(@team) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>