<h1>All Team Information</h1>

<%= link_to 'Create Team', new_team_path %>

<table>
  <tr>
    <th>Team Name</th>
  </tr>
 
  <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= link_to 'Edit Team', edit_team_path(team.id) %></td>
      <td><%= link_to 'Delete Team', team, method: :delete, data: {confirm: "Are you sure?"} %></td>
  
    </tr>
  <% end %>
</table>