<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Important announcement</div>
      <div class="panel-controls">
        <ul>
          <li>
            <a data-toggle="close" class="portlet-close" href="#">
              <i class="portlet-icon portlet-icon-close"></i>
            </a>
          </li>
        </ul>
      </div>
  </div>
    <div class="panel-body">
      <div class="scrollable">
        <div class="demo-portlet-scrollable">
          <h3><span class="semi-bold">Important</span> announcement</h3>
          <p>Some important announcements go here!</p>
        </div>
      </div>
    </div>
</div>