<div class="modal fade stick-up" id="meetingInvitation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header clearfix text-left">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
        </button>
        <h5 class="bold">Meeting Information</h5>
        <p></p>
      </div>
      <div class="modal-body">
        <p id="meeting-topic"></p>
        <p id="meeting-guest"></p>
        <p id="meeting-date"></p>
        <p id="meeting-agenda"></p>
        <div class="row">
          <div class="col-sm-6">
            <p class="small">By clicking yes, this meeting will be scheduled in your Google Calendar.</p>
          </div>
          <div class="col-sm-3 pull-right">
            <button id="cancelMeetingBtn" type="button" class="btn btn-danger btn-block m-t-5">No</button>
          </div>
          <div class="col-sm-3 pull-right">
            <button id="confirmMeetingBtn" type="button" class="btn btn-success btn-block m-t-5">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>