<div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5><span class="bold">Create new 1:1</span></h5>
          <div class="progress">
            <div class="progress-bar-indeterminate progress-bar-complete"></div>
          </div>
        </div>
        <div class="modal-body">
          <form role="form" id="createMeetingForm">
            <div class="form-group-attached">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>With </label>
                    <%= collection_select :User, :guest_id, User.where.not(:id => current_user.id), :id, :name %>                       
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default input-group date" id='datetimepicker1'>
                    <label>Date</label>  
                    <input type='text' id="date-data" class="form-control" name="meeting[date]" />
                    <span class="input-group-addon" id="dateTimePickerBtn">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>           
                  </div>
                </div>

                <div class="checkbox check-success">
                      <input type="checkbox" checked="checked" value="monthly" id="checkbox2">
                      <label for="checkbox2">I want to have 1:1 monthly at this date  </label>
                    </div>   
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Topic</label>  
                    <input type="text" class="form-control" id="topic-data">                   
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Agenda</label>  
                    <input type="text" class="form-control" id="agenda-data">                   
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label>Private note</label>  
                    <input type="text" class="form-control" id="private-note-data">                   
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-sm-4 m-t-10 sm-m-t-10">
              <button type="button" id="createMeeting" class="pull-left btn btn-complete btn-rounded m-t-5">Send an invite now!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>