<div class="modal fade slide-up disable-scroll" id="newTodo" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content" id="profileNotePopupContent">
        <div class="modal-header clearfix text-left">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button> -->
          <p><span class="bold"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>   Create New Todo List </p>
          <div class="progress">
            <div class="progress-bar-indeterminate progress-bar-complete"></div>
          </div>
        </div>
        <div class="modal-body">
          <form role="form" id="createMeetingForm">
            <div class="form-group-attached">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <input type="text" placeholder="Put some title here" name="todo-name" class="form-control" id="new-todo-name">
                    <%= hidden_field_tag :creator_id, @current_user.id %>                        
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12 profileNoteActionButtons">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="pull-right btn btn-complete btn-rounded ">Cancel</button>
              <button type="button" id="createTodo" class="pull-right btn btn-complete btn-rounded ">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>