<div class="panel panel-transparent">
  <div class="panel-heading">
    <div class="panel-title">To Do List</div>
  </div>
  <div class="panel-body">
    <div>
      <% TodoItem.first(5).each do |todo_item| %>
      <p class="small todo-item-date"><%= todo_item.created_at.strftime("%A, %d.%m.%Y") %></p>
      <p class="todo-item"> 
        <%= todo_item.item %>
      </p>
      <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
</div>