<h1>Edit Meeting</h1>

<%= form_for(@meeting) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>

                    <input type='text' class="form-control" name="meeting[date]" placeholder="Enter Date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(document).on('ready', function () {
              $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
              });
            });
        </script>
    </div>
</div>

  <p>
    <%= f.label :agenda %><br>
    <%= f.text_field :agenda %>
  </p>

  <p>
    <%= f.label :recurring_status %><br>
    <%= f.select :recurring_status, [['Weekly','Weekly'],['Bi-weekly','Bi-weekly'],['Monthly','Monthly']] %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>