<div class="meetings-list">
  <div class="row-fluid">
    <div class="col-md-12">
      <h2>
        <% if @upcoming_meetings.size >=1 %>
          Upcoming
        <% end %>
        <a class="btn pull-right btn-primary m-b-10" id="btnToggleSlideUpSize" data-remote="true" href="/meetings/new"><i class="fa fa-plus" aria-hidden="true"></i>   Create New 1:1</a>
      </h2>
    </div>
    
      <div class="col-md-8">
      <% @upcoming_meetings.each do |upcoming_meeting| %>
        <div class="card share full-width">
          <%= link_to meeting_path(upcoming_meeting.id) do %>
          <div class="card-header clearfix">
            <div class="pull-right">
              <p><%= upcoming_meeting.date.to_formatted_s(:short)   %> </p>
            </div>
            <div class="user-pic">
              <% if upcoming_meeting.creator_id == current_user.id %>
                <%= image_tag User.find(upcoming_meeting.guest_id).avatar.url(:thumb) %>
              <% else %>
                <%= image_tag User.find(upcoming_meeting.creator_id).avatar.url(:thumb) %>
              <% end %>
            </div>
            <h5>
              <% if upcoming_meeting.creator_id == current_user.id %>
                <%= User.find(upcoming_meeting.guest_id).name.split.map(&:capitalize)*' ' %>
              <% else %>
                <%= User.find(upcoming_meeting.creator_id).name.split.map(&:capitalize)*' ' %>
              <% end %>
            </h5>
            <div class="row">
              <h6>Meeting is scheduled at  
                <span class="location semi-bold"><i class="fa fa-calendar" aria-hidden="true"></i></i> 
                <%= upcoming_meeting.date.to_formatted_s(:short)   %></span>
                <span class="pull-right bold" style="position: relative; left: 8%;"><%= upcoming_meeting.name %></span>
              </h6>
            </div>
          </div>
      <% end %>
          <div class="discussion">
              <p><i class="fa fa-commenting-o" aria-hidden="true"></i>   What do you want to discuss</p>
          </div>
          <div class="card-description">
            <p><%= upcoming_meeting.agenda %></p>
            <!-- <div class="via">via themeforest</div> -->
            <% if upcoming_meeting.meeting_notes.size == 0 %>
              <div class="actionButton">
                <i role="button" data-meetingID="#{upcomming_meeting.id}" class="fa fa-pencil newMeetingNoteSlideUp" aria-hidden="true"></i>
                <p><%= hidden_field_tag 'upcoming_meeting_id', upcoming_meeting.id %></p>
              </div>
            <% end %>
          </div>
          <% if upcoming_meeting.meeting_notes.size > 0 %>
            <% upcoming_meeting.meeting_notes.each do |meeting_note| %>
              <div class="card-description meeting-notes">
                <p class="bold"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>    Private Note</p>
                <br>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i>     Created on <%= meeting_note.created_at.strftime("%A, %d.%m.%Y") %>     <span class="small"><i class="fa fa-lock" aria-hidden="true"></i>     (Only you can see)</span></p>
                <p><%= hidden_field_tag 'meeting_note_id', meeting_note.id %></p> 
                <p><%= hidden_field_tag 'meeting_id', meeting_note.meeting_id %></p> 
                <p id="meetingNoteContent"><%= meeting_note.content %></p>
                <!-- <div class="via">via themeforest</div> -->
                <div class="actionButton">
                  <i role="button" class="fa fa-pencil editMeetingNoteSlideUp" aria-hidden="true"></i>
                  <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/meeting_notes/<%= meeting_note.id %>"><i role="button" class="fa fa-trash-o" aria-hidden="true"></i></a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @past_meetings.size >=1 %>
        <h2>Past</h2>
      <% end %>
      <% @past_meetings.each do |past_meeting| %>
        <div class="card share full-width">
          <!-- <div class="circle" data-toggle="tooltip" title="Label" data-container="body"></div> -->
          <%= link_to meeting_path(past_meeting.id) do %>
          <div class="card-header clearfix">
            <div class="pull-right">
              <%= past_meeting.name %> <i class="fa fa-comment-o"></i>
            </div>
            <div class="user-pic">
              <% if past_meeting.creator_id == current_user.id %>
                <%= image_tag User.find(past_meeting.creator_id).avatar.url(:thumb) %>
              <% else %>
                <%= image_tag User.find(past_meeting.guest_id).avatar.url(:thumb) %>
              <% end %>
            </div>
            <h5>
              <% if past_meeting.creator_id == current_user.id %>
                <%= User.find(past_meeting.creator_id).name.split.map(&:capitalize)*' ' %>
              <% else %>
                <%= User.find(past_meeting.guest_id).name.split.map(&:capitalize)*' ' %>
              <% end %>
            </h5>
            <h6>Meeting is scheduled at  
              <span class="location semi-bold"><i class="fa fa-calendar" aria-hidden="true"></i></i> 
              <%= past_meeting.date.to_formatted_s(:short)   %></span>
              <span class="pull-right bold" style="position: relative; left: 8%;"><%= past_meeting.name %></span>
            </h6>
          </div>
          <% end %>

          <div class="card-description">
            <p><%= past_meeting.agenda %></p>
            <% if past_meeting.todos.size  == 0 %>
              <div class="actionButton">
                <i role="button" class="fa fa-list-ul newTodoSlideUp" aria-hidden="true"></i>
                <p><%= hidden_field_tag 'past_meeting_id', past_meeting.id %></p>
              </div>
            <% end %>
          </div>
          <% if past_meeting.meeting_notes.size > 0 %>
            <% past_meeting.meeting_notes.each do |meeting_note| %>
              <div class="card-description meeting-notes" >
                <p class="bold"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>    Private Note</p>
                <br>
                <p><i class="fa fa-clock-o" aria-hidden="true"></i>     Created on <%= meeting_note.created_at.strftime("%A, %d.%m.%Y") %>     <span class="small"><i class="fa fa-lock" aria-hidden="true"></i>     (Only you can see)</span></p> 
                <p><%= meeting_note.content %></p>

                
              </div>
            <% end %>
          <% end %>
          <% if past_meeting.todos.size > 0 %>
            <% past_meeting.todos.each do |todo| %>
              <div class="card-description todo-div" style="border-top: 1px solid grey;">
                <p><i class="fa fa-list-ul" aria-hidden="true"></i> To do list for me </p>
                <div class="todoList">
                <% todo.todo_items.each do |todo_item| %>
                  <div class="checkbox check-success" id="todoItemChecker">
                    <input type="checkbox" id="<%= todo_item.id%>" <% if todo_item.is_completed == true %><%= checked="checked" %> <% end %> >
                    
                    <label for="<%= todo_item.id%>"><%= todo_item.item %></label>
                    <span class="pull-right">
                      <i role="button" class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;             
                      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/todo_items/<%= todo_item.id %>"><i role="button" class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </span>
                    
                  </div>
                
                <% end %>
                </div>
                  <div class="row">
                    <div class="col-md-12">
                      <input type="hidden" id="getTodoID" value="<%= todo.id %>"> 
                      <input type="text" class="addTodo" width=inherit placeholder="Add an item" name="addTodo">
                    </div>
                  </div>
              </div>
            <% end %>
          <% end %>

          <div class="card-content">
            <ul class="buttons ">
              <li><a href="#"><i class="fa fa-expand"></i></a></li>
              <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
            </ul>
            <!-- <img alt="Social post" src="../assets/img/social-post-image.png"> -->
          </div>
        </div>
      <% end %>

      </div>

    <div class="col-md-4">
      <!-- important announcement section -->
      <%= render 'important_announcement' %>
      <!-- todo list section -->
      <%= render 'todo_list' %>
    </div>
  </div>
</div>
<!-- meeting confirmation modal -->
<%= render 'meeting_confirmation_modal' %>
<!-- new meeting modal -->
<%= render 'new_meeting_modal' %>
<!-- edit meeting note modal -->
<%= render 'new_meeting_note_modal' %>
<!-- edit meeting note modal -->
<%= render 'edit_meeting_note_modal' %>
<!-- new todo modal -->
<%= render 'new_todo_modal' %>
<!-- meeting invitation modal -->
<%= render 'meeting_invitation_modal' %>
