<h1>Create new meeting</h1>

<%= form_for(@meeting) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label 'Agenda' %><br>
    <%= f.text_area :agenda %>   
  </p>
  
  <p>
    <%= f.label 'With' %><br>
    <%= f.collection_select :guest_id, User.where.not(:id => current_user.id), :id, :name %>   
  </p> 
  <p>
    <%= f.label 'Recurring status' %><br>
    <%= f.select :recurring_status, [['Weekly','Weekly'],['Bi-weekly','Bi-weekly'],['Monthly','Monthly']] %>
    <%= f.hidden_field :creator_id, :value => current_user.id %>
  </p>
  <p>
    <%= f.fields_for :meeting_notes do |builder| %>
      <%= builder.label 'Add a private meeting note here' %><br>
      <%= builder.text_area :content, :include_blank => false %>
    <% end %>   
  </p>
  <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>

                    <input type='text' class="form-control" name="meeting[date]" placeholder="Enter Date" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('document').ready(function(){
              $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD HH:mm'
              });
            });
        </script>
    </div>
</div>
  <p>
    <%= f.submit %>
  </p> 
<% end %>
