<h1>Meeting Information </h1>
<%= link_to 'Edit Meeting', edit_meeting_path(@meeting.id) %>
<%= link_to 'Delete Meeting', @meeting, method: :delete, data: {confirm: "You sure?"} %>

<% if @meeting.guest_id == current_user.id && @meeting.status.blank? %>
	<%=button_to("Yes, I'm attending!", meeting_path(@meeting), params: { 'meeting[status]' => 'accepted' }, method: :patch )%> 
	<%=button_to("No", meeting_path(@meeting), params: { 'meeting[status]' => 'rejected' }, method: :patch )%> 
<% end %>

<% if @meeting.creator_id == current_user.id && @meeting.status == "accepted" %>
	<p class="text-success"><%= User.find(@meeting.guest_id).name.split.map(&:capitalize)*' ' %> has accepted your meeting invitation</p>
<% elsif @meeting.creator_id == current_user.id && @meeting.status == "rejected" %>
	<p class="text-danger"><%= User.find(@meeting.guest_id).name.split.map(&:capitalize)*' ' %> has rejected your meeting invitation</p>
<% elsif @meeting.creator_id == current_user.id && @meeting.status == "scheduled" %>
	<p class="text-success"><%= User.find(@meeting.guest_id).name.split.map(&:capitalize)*' ' %> has accepted your meeting invitation and scheduled in google calendar</p>
<% end %>

<p>
  <strong>Meeting name:</strong>
  <%= @meeting.name %>
</p>

<p>
	<strong>Date:</strong>
	<%= @meeting.date %>
</p>

<p>
	<strong>With:</strong>
	<% if @meeting.creator_id == current_user.id %>
		<%= User.find_by(id: @meeting.guest_id).name.split.map(&:capitalize)*' ' %>
	<% else %>
		<%= User.find_by(id: @meeting.creator_id).name.split.map(&:capitalize)*' ' %>
	<% end %>
</p>

<p>
	<strong>Recurring status:</strong>
	<%= @meeting.recurring_status %>
</p>
<% if @meeting.agenda == "" %>
	<%= link_to 'No agenda. Add one now!', edit_meeting_path(@meeting.id) %>	
<% else %>
	<p>
		<strong>Agenda:</strong>
		<%= @meeting.agenda %>
	</p>
<% end %>
<br>
<% if @meeting.meeting_notes.where(:creator_id => current_user.id).count ==0 %>
	<%= link_to 'Add a private meeting note', new_meeting_meeting_note_path(:meeting_id => @meeting.id, :user_id => current_user.id) %>
<% else %>
	<%= link_to 'Add a private meeting note', new_meeting_meeting_note_path(:meeting_id => @meeting.id, :user_id => current_user.id) %>
	<p>My personal meeting notes: </p>
	<% @meeting.meeting_notes.collect do |meeting_note|  %>
	<p><%= meeting_note.content %><%= link_to '  Edit', edit_meeting_meeting_note_path(:id => meeting_note.id, :meeting_id => @meeting.id) %><%= link_to '  Remove', meeting_note, method: :delete, data: {confirm: "You sure?"} %></p>

  <% end %>
<% end %>

<% if @meeting.todos.count == 0 %>
	<%= link_to 'Create Todo', new_meeting_todo_path(:meeting_id => @meeting.id, :user_id => current_user.id) %>
<% else %>
	<%= link_to 'Create Todo', new_meeting_todo_path(:meeting_id => @meeting.id, :user_id => current_user.id) %>
	<% @meeting.todos.collect do |todo| %>
		<p><%= todo.name %><%= link_to '  Edit', edit_meeting_todo_path(:id => todo.id, :meeting_id => todo.meeting_id) %><%= link_to '  Delete', todo, method: :delete, data: {confirm: "You sure?"} %></p>
		<% todo.todo_items.collect do |todo_item| %>
			<%= todo_item.item %>
    		<%= check_box :TodoItem, todo_item.item %>
    		<br>
		<% end %>
	<% end %>
<% end %>


