<h1>My private meeting notes</h1>
<%= link_to 'Create new meeting note', new_meeting_meeting_note_path %>

<table>
  <tr>
    <th>Meeting ID</th>
    <th>Meeting Note ID</th>
    <th>Content</th>
    <th>Creator</th>
  </tr>
 
  <% @meetingnotes.each do |meetingnote| %>
    <tr>
      <td><%= meetingnote.meeting_id %></td>
      <td><%= meetingnote.id %></td>
      <td><%= meetingnote.content %></td>
      <td><%= User.find(meetingnote.creator_id).name %></td>
      <td><%= link_to 'Edit meeting note ', edit_meeting_meeting_note_path(:id => meetingnote.id) %></td>
      <td><%= link_to 'Delete meeting note', meeting_note_path(meetingnote), method: :delete, data: {confirm: "Are you sure?"} %></td>
  
    </tr>
  <% end %>
</table>
