<h1>New Meeting note</h1>

<%= form_for(@meetingnote) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
    <%= f.hidden_field :meeting_id, :value => params[:meeting_id] %>
    <%= f.hidden_field :creator_id, :value => current_user.id %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>