<div class="modal fade slide-up disable-scroll" id="accountSettings" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button>
          <h5><span class="bold">Account Settings</span></h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4" id="confirmation-details" style="text-align: center;">
            	<%= image_tag @user.avatar.url(:thumb), class: "img-circle" %>
            	<p><input type="file" id="avatar-data"></p>
            	<p style="line-height: 1%;"><a href="#">Remove Picture</a></p>
            </div>
            <div class="col-md-8">
            	<div class="row">
            		<div class="col-md-12">
            			<div class="form-group form-group-default">
		                    <label>Change Name</label>  
		                    <input type="text" class="form-control" id="name-data"> 
		                    <%= hidden_field_tag :user_id, current_user.id %>                   
		                </div>
            		</div>
            	</div>
            	<div class="row">
            		<div class="col-md-12">
            			<div class="form-group form-group-default">
		                    <label>Change Email</label>  
		                    <input disabled type="text" class="form-control" id="email-data" value="<%= @user.email %>">          
		                </div>
            		</div>
            	</div>         	
            	<div class="row">
            		<div class="col-md-12">
            			<div class="form-group form-group-default">
		                    <label>Change Password</label>  
		                    <input  disabled type="password" class="form-control" id="new-password-data">                   
		                </div>
            		</div>
            	</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 m-t-10 sm-m-t-10">
              <button type="button" data-dismiss="modal" aria-hidden="true" id="saveAccountSettings" class="pull-left btn btn-complete btn-rounded m-t-5">Save Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>