<div class="modal fade slide-up disable-scroll" id="newProfileNote" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content" id="profileNotePopupContent">
        <div class="modal-header clearfix text-left">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
          </button> -->
          <p><span class="bold"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>   Private Note</span>  <span class="pull-right"><i class="fa fa-lock" aria-hidden="true"></i> (Only you can see this private note)</span></p>
          <div class="progress">
            <div class="progress-bar-indeterminate progress-bar-complete"></div>
          </div>
        </div>
        <div class="modal-body">
          <form role="form" id="createMeetingForm">
            <div class="form-group-attached">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <textarea type="text" name="profile-note" class="form-control" id="profile-note-data"></textarea>
                    <%= hidden_field_tag :receiver_id, @user.id %>    	                  
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12 profileNoteActionButtons">
              <button type="button" data-dismiss="modal" aria-hidden="true" class="pull-right btn btn-complete btn-rounded ">Cancel</button>
              <button type="button" id="createProfileNote" class="pull-right btn btn-complete btn-rounded ">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>