<div class="modal fade slide-up disable-scroll" id="teamMembersInfo" tabindex="-1" role="dialog" aria-hidden="false">
  <div class="modal-dialog ">
    <div class="modal-content-wrapper">
      <div class="modal-content">
        <div class="modal-header clearfix text-left">
          <h5><span class="bold">Team Members</span></h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <div id="detailedTable_wrapper" class="dataTables_wrapper form-inline no-footer">
                  <table class="table table-hover table-detailed dataTable no-footer" id="detailedTable" role="grid">
                    <thead>
                      <tr role="row"><th class="sorting_disabled" rowspan="1" colspan="1">Name</th><th style="width: 136px;" class="sorting_disabled" rowspan="1" colspan="1">Position</th><th style="width: 136px;" class="sorting_disabled" rowspan="1" colspan="1">Status</th></tr>
                    </thead>
                    <tbody id="teamMember">
                      <% User.where(team_id: @user.team_id).each do |team_member| %>                        
                        <tr role="row" class="odd"  id="<%= team_member.id %>">
                          <td class="v-align-middle semi-bold"><i class="fa fa-user" aria-hidden="true"></i>  <%= team_member.name %></td>
                          <td class="v-align-middle">UI designer</td>
                          <td class="v-align-middle semi-bold">Active</td>
                        </tr>   
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <button type="button" style="margin-left: 10px;" data-dismiss="modal" aria-hidden="true" class="pull-left btn btn-complete btn-rounded">Dismiss</button>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>