<h1>Edit User</h1>

<%= form_for(@user) do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <% if current_user.team_leader? || current_user.admin? %>
    <p>
      <%= f.label :team %><br>
      <%= f.collection_select :team_id, Team.all, :id, :name %>
    </p>
  <% end %> 
  <% if current_user.admin? %>
    <p>
      <%= f.label :role %><br>
      <!--<%= f.collection_select :id, Role.all, :id, :name %>-->
      <%#= f.collection_radio_buttons :id, Role.all, :id, :name %>
      <% Role.all.each do |role| %>
        <%= radio_button_tag 'user_role_id', role.id, (@user.role.try(:id) == role.id) %> 
        <%= role.name %>
      <% end %>
    </p>
  <% end %>
  <%= image_tag @user.avatar.url(:medium) %>
  <%= f.file_field :avatar %>
  <p>
    <%= f.submit %>
  </p>
<% end %>