<h1>All user information</h1>

<%= link_to 'Create User', new_user_path %>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Team ID</th>
    <th>Role</th>
    <th>Info</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.name.split.map(&:capitalize)*' ' %></td>
      <td><%= user.team_id %></td>
      <td><%= user.role.try(:name) %></td>
      <td><%= link_to '  Edit User', edit_user_path(user.id) %></td>
      <td><%= link_to '  View Profile', user_path(user.id) %></td>
      <td><%#= link_to 'Leave a note for ' + user.name, :controller => "users", :action => "new_profile_note", :receiver_id => current_user.id, :writer_id => current_user.id %></td>
      <td><%= link_to '  Delete User', user, method: :delete, data: {confirm: "You sure?"} %></td>
    </tr>

  <% end %>
</table>