<div class="add-member">
  <h3 class="semi-bold">Add New Member</h3>

  <%= form_for :user, url: { action: "create_user" } do |f| %>
    <div class="form-group">
      <label>Full Name</label>
      <%= f.text_field :name, class: "form-control", :required => true %>
    </div>
    
    <div class="form-group">
      <label>Team</label>
      <div class="input-group">
        <!-- <input type="text" class="form-control"> -->
        <%= f.collection_select :team_id, Team.all, :id, :name %>
        <span class="input-group-addon primary">
          <i class="fa fa-align-justify"></i> 
        </span>
      </div>                        
    </div>
                      
    <div class="form-group">
      <label>Role</label>
      <div class="input-group">
        <%= f.fields_for :user_role_attributes do |builder| %>
          <%= builder.collection_select :role_id, Role.all, :id, :name %>
        <% end %>
        <span class="input-group-addon primary">
          <i class="fa fa-align-justify"></i> 
        </span>
      </div>                        
    </div>
                      
    <div class="form-group">
      <label>Email</label>
      <div class="input-group">
        <%= f.text_field :email, class: "form-control",:required => true %>
        <span class="input-group-addon primary">
          @piktochart.com
        </span>
      </div>
    </div>
                      
    <div class="form-group">
      <label>Create a temporary password</label>
      <%= f.password_field :password, class: "form-control", :required => true %>
    </div>
                      
    <%= f.submit %>
                 
  <% end %>
</div>