<div class="user-profile" style="text-align: center;">
	<h3 class="bold">Profile</h3>
	<div class="profile-pic img-circle">
		<%= image_tag @user.avatar.url(:thumb), class: "img-circle" %>
	</div>
	<h4 class="semi-bold"><%= @user.name.split.map(&:capitalize)*' ' %></h4>
  <% if @user.team_leader? %>
    <p>Head of <%= Team.find(current_user.team_id).name %></p>
    <p><a href="#" id="teamMembersInfoSlideUp">View all team members</a></p>
  <% end %>
	<% if @user.id != current_user.id  %>
		<%= link_to 'Add private note', new_user_profile_note_path(user_id: @user.id), remote: true,  class: "btn btn-rounded btn-info", id: "newProfileNoteSlideUp" %>
	<% end %>
	<p>Timezone : <%= Time.zone.name %></p>
	<p>Email: <%= @user.email %></p>
  <% if @user.id == current_user.id %>
    <p><a id="accountSettingsSlideUp" href="#">Account settings</a></p>
  <% end %>
  <% if @user.id == current_user.id && @user.admin? || @user.unity? %>
    <a href="/users/new" ><button class="btn btn-rounded btn-info">Add Member</button></a>
    <button class="btn btn-rounded btn-info">Delete Member</button>
  <% end %>
	<hr>
	<% if @profile_notes.size >0 %>
		<% @profile_notes.each do |profile_note| %>
			<div class="private-profile-notes">
				<span class="pull-right">
					<i role="button" class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;    					
					<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/profile_notes/<%= profile_note.id %>"><i role="button" class="fa fa-trash-o" aria-hidden="true"></i></a>
				</span>				
				<p><i class="fa fa-sticky-note-o" aria-hidden="true"></i> Private note</p>
				<p><i class="fa fa-sticky-calendar-o" aria-hidden="true"></i> <%= profile_note.created_at %>  <span><i class="fa fa-lock" aria-hidden="true"></i> (Only you can see this private note)</span></p>
				<p id="profileNote"><%= profile_note.content %></p>
			</div>
		<% end %>
	<% end %>
</div>

<!-- new profile modal -->
<%= render 'new_profile_note_modal' %>
<!-- account settings modal -->
<%= render 'account_settings_modal' %>
<!-- all team members modal -->
<%= render 'team_members_modal' %>
