<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Lighthouse, <%= @guest.name.split.map(&:capitalize)*' ' %></h1>
    <p>
      <%= @creator.name.split.map(&:capitalize)*' ' %> has scheduled a meeting with you on <%= @meeting.date %>.<br>
    </p>
    <p>
      <a href="http://localhost:3000/"><button class="btn btn-info">Click here to view meeting in Lighthouse</button></a>
    </p>
    <p>Thanks for using Lighthouse and have a great day!</p>
  </body>
</html>