<h1>ProfileNotes</h1>
<%= link_to 'Create new profile note', new_user_profile_note_path %>

<table>
  <tr>
    <th>Note id</th>
    <th>Note content</th>
    <th>Note writer</th>
    <th>Note receiver</th>
  </tr>
 
  <% @profile_notes.each do |profile_note| %>
    <tr>
      <td><%= profile_note.id %></td>
      <td><%= profile_note.content %></td>
      <td><%= profile_note.writer_id %></td>
      <td><%= profile_note.receiver_id %></td>
      <td><%= link_to 'Edit profile note ', edit_user_profile_note_path(user_id: profile_note.receiver_id, id: profile_note.id) %></td>
      <td><%= link_to 'Delete profile note', profile_note, method: :delete, data: {confirm: "Are you sure?"} %></td>
  
    </tr>
  <% end %>
</table>
