<h1>New Profile Note</h1>

<%= form_for(@profile_note) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
    <%= f.hidden_field :receiver_id, :value => params[:user_id] %>
    <%= f.hidden_field :writer_id, :value => current_user.id  %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>