<h1>All roles</h1>

<%= link_to 'Create new role', new_role_path %>

<table>
  <tr>
    <th>Role Name</th>
  </tr>
 
  <% @roles.each do |role| %>
    <tr>
      <td><%= role.id %></td>
      <td><%= role.name %></td>
      <td><%= link_to 'Edit Role', edit_role_path(role.id) %></td>
  
    </tr>
  <% end %>
</table>