<h1>Edit Todo</h1>

<%= form_for(@todo) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <!-- <div id="todolist">
  	<%#= f.fields_for :todo_items do |builder| %>
  		<%#= builder.text_field :item %>
  		<br><button id="addTodoBtn" type="button" class="btn btn-info">Add</button>

  		<ol class="item-list">

  		</ol>
  	
  	<%# end %>
  </div> -->
  <%= f.fields_for :todo_items do |builder| %>

  	<%= builder.text_field :item %>
  	<br>
  <% end %>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>