<h1>All todos</h1>
<%= link_to 'Create new Todo', new_meeting_todo_path %>
<table>
  <tr>
    <th>Meeting ID</th>
    <th>Name</th>
    <th>ID</th>

  </tr>
 
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.meeting_id %></td>
      <td><%= todo.name %></td>
      <td><%= todo.id %></td>
      <td><%= link_to 'View Todo', meeting_todo_path(:id => todo.id) %></td>
      <td><%= link_to 'Edit Todo', edit_meeting_todo_path(:id => todo.id) %></td>
      <td><%= link_to 'Delete Todo', todo, method: :delete, data: {confirm: "You sure?"} %></td>
      <% end %>

    </tr>


</table>