
<h1>Create new todo</h1>

<%= form_for(@todo) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.hidden_field :meeting_id, :value => params[:meeting_id] %>
    <%= f.hidden_field :creator_id, :value => params[:user_id] %>
  </p>

  <div id="todolist">
  	<%= f.fields_for :todo_items do |builder| %>
  		<%= builder.label 'Add item' %>
  		<br><button id="addTodoBtn" type="button" class="btn btn-info">Add</button>

  		<ol class="item-list">

  		</ol>
  	
  	<% end %>
  </div>


  <p>
    <%= f.submit %>
  </p>
<% end %>