<h1>Todo </h1>
<%= link_to 'Edit Todo', edit_meeting_todo_path(:id => @todo.id, :meeting_id => @todo.meeting_id) %>
<%= link_to 'Delete Todo', @todo, method: :delete, data: {confirm: "You sure?"} %>

<p>
  <strong>Meeting ID:</strong>
  <%= @todo.meeting_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Item:</strong>
  <% @todo.todo_items.collect do |i|  %>
    <%= i.item %>
    <%= check_box :TodoItem, i.item %>
    <br>
  <% end %>
</p>

