<% @server_url = "http://localhost:3000/" %>
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>One-o-one meetings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%#= javascript_include_tag :default, 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

    <link href="/assets/plugins/bootstrapv3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
  <link href="assets/plugins/codrops-dialogFx/dialog.ie.css" rel="stylesheet" type="text/css" media="screen" />
  <![endif]-->
  </head>
  <body class="fixed-header ">
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
      <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
      <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
          <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-40"><img src="/assets/img/demo/social_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 no-padding">
            <a href="#" class="p-l-10"><img src="/assets/img/demo/email_app.svg" alt="socail">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-40"><img src="/assets/img/demo/calendar_app.svg" alt="socail">
            </a>
          </div>
          <div class="col-xs-6 m-t-20 no-padding">
            <a href="#" class="p-l-10"><img src="/assets/img/demo/add_more.svg" alt="socail">
            </a>
          </div>
        </div>
      </div>
      <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
      <!-- BEGIN SIDEBAR MENU HEADER-->
      <div class="sidebar-header">
        <img src="/assets/img/logo_white.png" alt="logo" class="brand" data-src="/assets/img/logo_white.png" data-src-retina="/assets/img/logo_white_2x.png" width="78" height="22">
        <div class="sidebar-header-controls">
          <button type="button" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" data-pages-toggle="#appMenu"><i class="fa fa-angle-down fs-16"></i>
          </button>
          <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar"><i class="fa fs-12"></i>
          </button>
        </div>
      </div>
      <!-- END SIDEBAR MENU HEADER-->
      <!-- START SIDEBAR MENU -->
      <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
          <li class="m-t-30 ">
            <a href="/meetings" class="detailed">
              <span class="title">My meetings</span>
              <span class="details">12 New Updates</span>
            </a>
            <span class="bg-success icon-thumbnail"><%= current_user.name.split(' ').collect { |s| s[0] }.join('').upcase %></span>
          </li>
          <br>

          <% if current_user.team_leader? %>
            <% User.where(team_id: current_user.team_id).where.not(id: current_user.id).each do |user| %>
              <li class="">
              <%= link_to 'View all meetings', all_meetings_user_path(id: user.id) %>
              <span class="icon-thumbnail"><%= user.name.split(' ').collect { |s| s[0] }.join('').upcase %></span>
              </li>
            <% end %>
          <% end %>

          <% if current_user.unity? %>
            <% Team.all.each do |team| %>
              <li class="">
                <%= link_to 'View Team', team_path(id: team.id) %>
                <span class="icon-thumbnail"><%= team.name.split(' ').collect { |s| s[0] }.join('').upcase %></span>
              </li>
            <% end %>
          <% end %>

        </ul>
        <div class="clearfix"></div>
      </div>
      <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBPANEL-->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container ">
      <!-- START HEADER -->
      <div class="header ">
        <!-- START MOBILE CONTROLS -->
        <div class="container-fluid relative">
          <!-- LEFT SIDE -->
          <div class="pull-left full-height visible-sm visible-xs">
            <!-- START ACTION BAR -->
            <div class="header-inner">
              <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                <span class="icon-set menu-hambuger"></span>
              </a>
            </div>
            <!-- END ACTION BAR -->
          </div>
          <div class="pull-center hidden-md hidden-lg">
            <div class="header-inner">
              <div class="brand inline">
                <img src="/assets/img/piktoone.svg" alt="logo" data-src="/assets/img/piktoone.svg" data-src-retina="/assets/img/piktoone.svg" width="78" height="22">
              </div>
            </div>
          </div>
        </div>
        <!-- END MOBILE CONTROLS -->
        <div class=" pull-left sm-table hidden-xs hidden-sm">
          <div class="header-inner">
            <div class="brand inline">
              <img src="/assets/img/piktoone.svg" alt="logo" data-src="/assets/img/piktoone.svg" data-src-retina="/assets/img/piktoone.svg" width="78" height="22">
            </div>
            <span class="search-link">
              <label for="search-input"><i class="pg-search"></i></label>
              <input id="search-input" type="text" placeholder="Type to search" />
            </span>
          </div>
        </div>
        <div class=" pull-right">
          <div class="header-inner">
            <a href="#" class="btn-link m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"><i class="fa fa-bell" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class=" pull-right">
          <!-- START User Info-->
          <div class="m-t-10">
            <div class="pull-left p-r-10 p-t-10 fs-16 font-heading ">
              <!-- <span class="semi-bold">David</span> <span class="text-master">Nest</span> -->
              <%= current_user.name.split.map(&:capitalize)*' ' %>
            </div>
            <%#if user_signed_in? %>
                  <!-- <a rel="nofollow" data-method="delete" href="/users/sign_out" class="clearfix">
                    <span class="pull-left">Sign out</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a> -->
                  <%# end %>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="thumbnail-wrapper d32 circular inline m-t-5">
                <!-- <img src="/assets/img/profiles/avatar.jpg" alt="" data-src="/assets/img/profiles/avatar.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32"> -->
                <%= image_tag current_user.avatar.url(:thumb) %>
            </span>
              </button>
              <ul class="dropdown-menu profile-dropdown" role="menu">
                <li><a href="/users/<%= current_user.id %>" ><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                </li>
                <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
                </li>
                <% if current_user.admin? || current_user.unity? %>
                <li><a href="/users"><i class="pg-outdent"></i> All users</a>
                </li>
                <li><a href="/teams"><i class="pg-signals"></i> Teams</a>
                </li>
                <li><a href="/roles"><i class="pg-signals"></i> Roles</a>
                </li>
                <% end %>
                <li class="bg-master-lighter">
                  <%if user_signed_in? %>
                  <a rel="nofollow" data-method="delete" href="/users/sign_out" class="clearfix">
                    <span class="pull-left">Sign out</span>
                    <span class="pull-right"><i class="pg-power"></i></span>
                  </a>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
          <!-- END User Info-->
        </div>
      </div>
      <!-- END HEADER -->
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
          <!-- START JUMBOTRON -->
          <div class="jumbotron" data-pages="parallax">
            <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
              <div class="inner">
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                  <li>
                    <p><a href="/meetings" >Home</a></p>
                  </li>
                  <li><a href="#" class="active"><%= request.path %></a>
                  </li>
                </ul>
                <!-- END BREADCRUMB -->
              </div>
            </div>
          </div>
          <!-- END JUMBOTRON -->
          <!-- START CONTAINER FLUID -->
          <div class="container-fluid container-fixed-lg">
            <!-- BEGIN PlACE PAGE CONTENT HERE -->
            <div class="row-fluid">
              <!-- <h2>Upcoming
                <a href="/meetings/new">
                  <button class="btn btn-rounded btn-primary m-b-10" style="float:right"><i class="fa fa-plus" aria-hidden="true"></i> Create new 1:1
                  </button>
                </a>
              </h2> -->
              <%= yield %>
            </div>
            
            

            <!-- END PLACE PAGE CONTENT HERE -->
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Copyright &copy; 2016 </span>
              <span class="font-montserrat">Pikto Academy</span>.
              <span class="hint-text">All rights reserved. </span>
              <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
            </p>
            <p class="small no-margin pull-right sm-pull-reset">
              <a href="#">Hand-crafted</a> <span class="hint-text">&amp; Made with Love ®</span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- START QUICKVIEW-->
    <div id="quickview" class="quickview-wrapper" data-pages="quickview">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#quickview-alerts" data-toggle="tab">Alerts</a>
        </li>
      </ul>
      <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- BEGIN Alerts !-->
        <div class="tab-pane no-padding active" id="quickview-alerts">
          <div class="view-port clearfix" id="alerts">
            <!-- BEGIN Alerts View !-->
            <div class="view bg-white">
              <!-- BEGIN View Header !-->
              <div class="navbar navbar-default navbar-sm">
                <div class="navbar-inner">
                  <div class="view-heading">
                    Notifications
                  </div>
                </div>
              </div>
              <!-- END View Header !-->
              <!-- BEGIN Alert List !-->
              <div data-init-list-view="ioslist" class="list-view boreded no-top-border"><h2 class="list-view-fake-header">
                    Sever Status
                  </h2>
                <!-- BEGIN List Group !-->
                <div class="scroll-wrapper list-view-wrapper" style="position: absolute;"><div class="list-view-wrapper scroll-content" data-ios="false" style="height: 100px; margin-bottom: 0px; margin-right: 0px; max-height: none;"><div class="list-view-group-container">
                  <!-- BEGIN List Group Header!-->
                  <div class="list-view-group-header text-uppercase">
                    Calendar
                  </div>
                  <!-- END List Group Header!-->
                  <ul>
                    <!-- BEGIN List Group Item!-->
                    <% current_user.invited_meetings.where(status: nil).each do |invited_meeting| %>
                    <li class="alert-list meetingInvitationNotification" data-meetingid="<%= invited_meeting.id %>">
                      <!-- BEGIN Alert Item Set Animation using data-view-animation !-->
                      <a href="javascript:;" class="" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                        <p class="col-xs-height col-middle">
                          <span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
                        </p>
                        <p class="p-l-10 col-xs-height col-middle col-xs-9 overflow-ellipsis fs-12">
                          <span class="text-master">1:1 with <%= User.find(invited_meeting.creator_id).name.split.map(&:capitalize)*' ' %></span>
                        </p>
                        <p class="p-r-10 col-xs-height col-middle fs-12 text-right">
                          <span class="text-warning">Today <br></span>
                          <span class="text-master">All Day</span>
                        </p>
                      </a>
                      <!-- END Alert Item!-->
                      <!-- BEGIN List Group Item!-->
                    </li>
                    <% end %>
                    <!-- END List Group Item!-->
                    <!-- BEGIN List Group Item!-->
                    
                    <!-- END List Group Item!-->
                  </ul>
                </div>
              </div>
              <!-- END Alert List !-->
            </div>
            <!-- EEND Alerts View !-->
          </div>
        </div>
        <!-- END Alerts !-->
      </div>
    </div>
    <!-- END QUICKVIEW-->
    <!-- BEGIN VENDOR JS -->
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="<%= @server_url %>assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="<%= @server_url %>assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="<%= @server_url %>assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/pages/js/pages.blank.js"></script>

    <script src="<%= @server_url %>assets/js/demo.js" type="text/javascript"></script>
    <script src="<%= @server_url %>assets/js/scripts.js" type="text/javascript"></script>
    <script src="<%= @server_url %>assets/js/notifications.js" type="text/javascript"></script>
  </body>
</html>
